* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.cs {
    display: flex;
    justify-content: space-evenly;
}
.c {
    width: 35%;
    height: 70%;
    margin-top: 80px;
}
.T1 {
    font-size: 2rem;
    width: 35%;
}
hr {
    border: 2px solid orange;
    width: 200px;
    margin-bottom: 20px;
}
.cp {
	background-color: gray;
    color: orange;
    font-size: 138%;
    width: 40%;
    margin-bottom: 30px;
}
.mt {
    font-size: 2rem;
    width: 60%;
}
.input {
	border: 2px solid gray;
    margin-top: 60px;
}
input {
	
    padding: 10px;
    border: 2px solid gray;
    width: 35%;
}
textarea {
    padding: 30px;
    border: 2px solid gray;
    width: 70%;
	height: 20px;
}
footer {
    position:absolute;
    bottom: 0;
    left: 0;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1rem;
    background-color: gray;
}